@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron float-md-left " style="opacity:0.8">
    <h1>Music Bands</h1>
        <i><p>Welcome to the World of Music.</p>
    <p>This project can help you to find</p>
    <p>the information about bands,</p>
    <p>songs, producers and albums.</p>
<p> Wish you luck! </p></i>
    
</div>
<div class="row">
    <style>
        body {
            background-image: url('https://steemitimages.com/0x0/http://i.imgur.com/s9bPVaK.gif');
            background-size: contain;
            background-position: center;
        }
    </style>
</div>